<aside class="aside__page">
  <h2 class="aside__page--title">3 reasons to purchase</h2>

  <h3 class="aside__page--subtitle">Ut sed metus</h3>
  <p class="aside__page--text">Lorem ipsum dolor sit amet, consecteur.</p>
  <h3 class="aside__page--subtitle">Curabitur ac erat</h3>
  <p class="aside__page--text">Mauris mattis urna quis lorem molestie.</p>
  <h3 class="aside__page--subtitle">Morbi dictum</h3>
  <p class="aside__page--text">Aliquam in dolor et dolor tincidunt.</p>

  <button class="aside__page--btn">More reasons</button>
</aside>
