<aside class="aside__page">
  <h2 class="aside__page--title">3 reasons to purchase</h2>

  <h3 class="aside__page--subtitle1">Ut sed metus</h3>
  <p class="aside__page--text1">Lorem ipsum dolor sit amet, consecteur.</p>
  <h3 class="aside__page--subtitle2">Curabitur ac erat</h3>
  <p class="aside__page--text2">Mauris mattis urna quis lorem molestie.</p>
  <h3 class="aside__page--subtitle3">Morbi dictum</h3>
  <p class="aside__page--text3">Aliquam in dolor et dolor tincidunt.</p>

  <button class="aside__btn">More reasons</button>
</aside>
