<section class="footer__nav">
  <nav class="footer__nav--list1">
    <ul>
      <a class="footer__nav--link" href="https://https://adalab.es/.es/">
        <li>Articles</li></a
      >
      <a class="footer__nav--link" href="https://https://adalab.es/.es/"
        ><li>Books</li></a
      ><a class="footer__nav--link" href="https://https://adalab.es/.es/">
        <li>Events</li></a
      ><a class="footer__nav--link" href="https://https://adalab.es/.es/">
        <li>Reasons</li></a
      ><a class="footer__nav--link" href="https://https://adalab.es/.es/">
        <li>Tips</li></a
      >
    </ul>
  </nav>

  <nav class="footer__nav--list2">
    <a class="footer__nav--link" href="https://https://adalab.es/.es/">
      <li>Twitter</li></a
    >
    <a class="footer__nav--link" href="https://https://adalab.es/.es/">
      <li>Instagram</li></a
    ><a class="footer__nav--link" href="https://adalab.es"
      ><li>Mastodon.social</li></a
    ><span class="footer__nav--copy"
      >&copy 2021
      <p>we <span class="footer__nav--heart">❤︎</span>components</p></span
    >
  </nav>
</section>
