<footer class="footer__page">
  <nav class="footer__nav--list">
    <ul class="footer__nav--list1">
      <a class="footer__nav--link" href="https://adalab.es/"
        ><li>Articles</li></a
      >
      <a class="footer__nav--link" href="https://adalab.es/"><li>Books</li></a>
      <a class="footer__nav--link" href="https://adalab.es/"><li>Events</li></a>
      <a class="footer__nav--link" href="https://adalab.es/"
        ><li>Reasons</li></a
      >
      <a class="footer__nav--link" href="https://adalab.es/"><li>Tips</li></a>
    </ul>
  </nav>

  <nav class="footer__nav--list">
    <ul class="footer__nav--list2">
      <a class="footer__nav--link" href="https://adalab.es/"
        ><li>Twitter</li></a
      >
      <a class="footer__nav--link" href="https://adalab.es/"
        ><li>Instagram</li></a
      >
      <a class="footer__nav--link" href="https://adalab.es/"
        ><li>Mastodon.social</li></a
      >
    </ul>
  </nav>

  <span class="footer__copy"> &copy 2021 we components</span>
</footer>
