.aside {
  &__page {
    display: grid;
    grid-template-columns: 1fr;

    font-family: "Roboto Slab", serif;
  }

  &--subtitle1 {
  }

  &__btn {
    background-color: $brightOrange;
    color: $white;
    border-radius: 40%;
    width: 150px;
    height: 45px;
  }
}
