.aside {
  &__page {
    height: 100vh;
    display: grid;
    grid-template-rows: 130px 30px 80px 30px 80px 30px;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    font-family: "Roboto Slab";
    justify-items: center;
    background-color: $iceBlue;

    &--title {
      text-transform: capitalize;
      margin-top: 40px;
    }
    &--subtitle {
      line-height: 20px;
    }
    &--text {
      width: 200px;
      text-align: center;
    }

    &--btn {
      background-color: $brightOrange;
      color: $white;
      border: 1px solid $brightOrange;
      width: 124px;
      height: 45px;
      border-radius: 20px;
    }
  }
}
