.footer {
  &__nav {
    background-color: $darkGreyBlue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-family: "Roboto Slab", serif;
    &--link {
      text-decoration: none;
      color: $white;
      list-style-type: none;
      text-transform: uppercase;
    }
    &--list1 {
      margin: 20px;
      text-align: center;
    }
    &--list2 {
      text-align: center;
      margin-bottom: 120px;
    }
    &--copy {
      flex-direction: column;
      text-align: center;
      color: $white;
    }
    &--heart {
      color: $brightOrange;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    &__nav {
      display: inline-block;
      height: 240px;
    }
  }
}
