.main {
  &__page {
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
    margin-right: 15px;
    font-family: "Roboto Slab";
    text-transform: capitalize;
    &--insomnia {
      color: $lightBlue;
      font-size: 12px;
      margin: 15px 0px 5px 15px;
      line-height: 30px;
      width: 90px;
      height: 30px;
    }
    &--wrapper {
      width: 100%;
    }
    &--title {
      font-size: 24px;
      margin: 15px;
    }

    &--paragraph1 {
      font-size: 18px;
      margin: 15px;
    }

    &--btn {
      color: $brightOrange;
      width: 76px;
      height: 45px;
      border: solid 3px $brightOrange;
      border-radius: 40%;
      margin-top: 20px;
      font-size: 16px;
      margin: 15px;
      transition: background-color ease 2s;
      transition: color ease 2s;
      &:hover {
        background-color: $lightBlue;
        color: $white;
      }
    }
  }
}

.main2 {
  &__page {
    display: grid;

    grid-template-columns: 1fr;
    grid-gap: 5px;
    font-family: "Roboto Slab";
    justify-items: center;
    background-color: $iceBlue;
    text-align: center;
    &--title {
      text-transform: capitalize;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    &--subtitle {
      line-height: 20px;
      margin: 10px;
    }
    &--text {
      width: 200px;
      text-align: center;
      margin-bottom: 20px;
    }

    &--btn {
      background-color: $brightOrange;
      color: $white;
      border: 1px solid $brightOrange;
      width: 124px;
      height: 45px;
      border-radius: 20px;
      margin: 50px;
    }
  }
}

@media (min-width: 768px) {
  .main2 {
    &__page {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &__page--title {
      grid-column: span 3;
    }
    &__page--btn {
      grid-column: span 3;
    }
  }
}

@media (min-width: 1200px) {
  .main {
    &__page {
      width: 400px;
      margin-left: 500px;
      margin-right: 500px;
    }
  }
}
